@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;

  color: #424242;
  font: 2vh 'Ubuntu', sans-serif;
}

.calendar {
  padding: 16px;
  display: block;
  text-align: center;
  border-radius: 4px;
}


.calendar-title {
  margin-bottom: 8px;

  color: slateblue;
  text-transform: uppercase;
}

.calendar-days {
  width: 100%;
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-weekday {
  color: white;
  background-color: slateblue;
}

.calendar-weekday:first-of-type {
  border-radius: 4px 0 0 4px;
}

.calendar-weekday:last-of-type {
  border-radius: 0 4px 4px 0;
}

.calendar-weekday,
.calendar-day {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day {
  color: slateblue;
  border-radius: 100%;
}

.calendar-day:not(.today):hover {
  background-color: rgb(218, 213, 253);
}

.today {
  color: white;
  background-color: slateblue;
}
